.website-footer {
    background-image: url(../resources/footer_design.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footers-top {
    height: calc(15 * var(--u));
}

.top-section-footer {
    display: flex;
    justify-content: space-around;
    padding: calc(25 * var(--u));
}

.khaarji-left-section, .baatni-right-section {
    padding: calc(20 * var(--u));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.khaarji {
    width: calc(282 * var(--u));
}

.baatni {
    width: calc(274 * var(--u));
}

.khaarji-links, .baatni-links {
    display: flex;
    flex-direction: column;
    font-size: calc(22 * var(--u));
}

.baatni-links {
    text-align: right;
}

.khaarji-links > li, .baatni-links > li {
    font-family: 'Malevice-Ink';
    color: #5B0000;
    filter: blur(0.1px);
    text-shadow: 0 0 calc(2 * var(--u)) rgba(109, 27, 27, 0.2),
               0 0 calc(4 * var(--u)) rgba(139, 19, 19, 0.2);
}

.footer-link {
    font-family: 'Malevice-Ink';
    text-decoration: none;
    color: #5B0000;
}

.khaarji-links {
    width: 100%;
    text-align: left;
}

.bottom-section-footer {
    padding-top: calc(25 * var(--u));
    width: 100%;
    text-align: center;
    font-family: 'Malevice-Ink';
    color: #5B0000;
    font-weight: 600;
    font-size: calc(20 * var(--u));
    padding-bottom: calc(25 * var(--u));
}

